@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: #f8f8f8;
  font-family: 'Roboto', Sans-Serif;
}

.chat-section {
  width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.brand {
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
}

.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}

.message-area {
  height: 410px;
  padding: 15px 14px 0 14px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 6px;
}


textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 14px;
  font-size: 18px;
  background: #f8f8f8;
  font-family: 'Roboto', Sans-Serif;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
}

.message {
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 380px;
  width: auto;
  position: relative;
}

.message p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.incoming {
  background: #8f8be8;
  color: #fff;
  border-top-left-radius: 0;
  margin-right: auto;
}

.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: auto;
  border-top-right-radius: 0;
}

.outgoing h4 {
  position: absolute;
  top: -18px;
  right: 0;
  color: #333;
  font-size: 14px;
}

.incoming h4 {
  position: absolute;
  top: -18px;
  left: 0px;
  color: #333;
  font-size: 14px;
}

@media(max-width: 500px) {
  body {
    display: block;
  }
  
  .chat-section {
    height: 90.8vh;
    width: 100%;
    overflow: hidden;
  }
  
  .message-area {
    height: calc(100% - 115px);
  }
  
  .message {
    max-width: 270px;
  }
}